name: SonarCloud

on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SonarCloud Scan
        uses: uses: SonarSource/sonarcloud-github-action@b16d2601a6b948e2fb26f3772276581f31daa7cd
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=khosbayarbaatarsaikhan
            -Dsonar.projectKey=Khosbayera_devops
